/* Main page */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background-cv {
    background-image: url("../assets/background/paper.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-forest {
    background-image: url("../assets/background/trianglifyforest.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-western {
    background-image: url("../assets/background/trianglifywestern1.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Start Btn */
#start-game{
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 50%;
    font-size: 50px;
    font-weight: 100;
    margin-left: -100px;
    padding: 1%;
    border-top: 2px solid #065488;
    border-bottom: 2px solid #065488;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    color: #065488;
    /* background-color: rgb(93, 189, 233); */
   /* border-radius: 40% 0 40% 0; */
}
#start-game:hover{
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid #065488;
    border-left: 2px solid #065488;
    font-weight: bold;
    font-style: oblique;
}

/***************/

/* Canvas */

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -360px;

}

#game-background {
    z-index: 1;
}

#game-canvas {
    z-index: 2;
}

#game-ui {
    z-index: 3;
}

/* Info game */

#info-game {
    top: 0;
    left: 0;
    width: 300px;
    position: absolute;
    z-index: 4;
/*     background: linear-gradient(to bottom right, #00b901, #8fe938);
 */ 
    /* background: transparent; */
    background-color: rgba(255,255,255,0.3);
    border-right: 5px solid black;
    border-bottom:5px solid black;
    border-radius: 0% 0% 50% 0%;
    padding: 0% 2% 1% 2%;
    display: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(125,125,125,0.7);
    -moz-box-shadow: 10px 10px 5px 0px rgba(125,125,125,0.7);
    box-shadow: 18px 2px 25px 10px rgba(125,125,125,0.5);
    
 
}
p{
    font-size: 16px;
}

.icon-ctrl {
    width: 64px;
    vertical-align: middle;
}

.icon-skill {
    width: 32px;
}

.label-ctrl {
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
}

.title-info {
    font-size: 24px;
}
#stage-one {
    display: none;
}
#stage-two {
    display: none;
}

#stage-three {
    display: none;
}

#stage-four {
    display: none;
}

#stage-five {
    display: none;
}

.link{
    position: fixed;
    right: 0;
    z-index: 10;
    display: block
}
.link-git{
    margin: 15px 15px 0px 0px;
}
.link-cv{
    margin: 0px 15px 15px 0px;
    bottom: 0;
}
.link:hover{
    opacity: 0.7;
}
.img-git{
    width: 64px;
    height: 64px;
}

.img-pdf{
    width: 64px;
    height: 64px;
}
