/* Main page */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background-cv {
    background-image: url("../assets/background/paper.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-forest {
    background-image: url("../assets/background/forest/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-western {
    background-image: url("../assets/background/western/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Start Btn */
#start-game{
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 50%;
    font-size: 50px;
    font-weight: 100;
    margin-left: -100px;
    padding: 1%;
    border-top: 2px solid #065488;
    border-bottom: 2px solid #065488;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    color: #065488;
    /* background-color: rgb(93, 189, 233); */
   /* border-radius: 40% 0 40% 0; */
}
#start-game:hover{
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid #065488;
    border-left: 2px solid #065488;
    font-weight: bold;
    font-style: oblique;
}

/***************/

/* Canvas */

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -350px;
}

#game-background {
    z-index: 1;
}

#game-canvas {
    z-index: 2;
}

#game-ui {
    z-index: 3;
}

/* Info game */

#info-game {
    top: 0;
    left: 0;
    width: 260px;
    position: absolute;
    z-index: 4;
    background: linear-gradient(to bottom right, #00b901, #8fe938);
    border-radius: 0% 0% 50% 0%;
    padding: 0% 2% 1% 2%;
    display: none;
}

.icon-ctrl {
    width: 64px;
    vertical-align: middle;
}

.icon-skill {
    width: 32px;
}

.label-ctrl {
    margin-left: 30px;
    margin-right: 10px;
}

.title-info {
    font-size: 24px;
}
#stage-one {
    display: none;
}
#stage-two {
    display: none;
}

#stage-three {
    display: none;
}

#stage-four {
    display: none;
}

#stage-five {
    display: none;
}

.triangle-git {
    position: fixed;
    right: 0;
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 150px 0;
    border-color: transparent #00b901 transparent transparent;
}
.triangle-git:hover {
    border-color: transparent #6ce96c transparent transparent;
}
.img-git{
    width: 64px;
    height: 64px;
    margin: 15px 0px 0px 75px;
}

.triangle-cv{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent transparent #00b901 transparent;
}
.triangle-cv:hover {
    border-color: transparent transparent #6ce96c transparent;
}
.img-pdf{
    width: 64px;
    height: 64px;
    margin: 75px 0 0 -75px;
}
